/* @link https://utopia.fyi/space/calculator?c=360,18,1.2,1920,28,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Space 3xs: 5px → 7px */
  --space-3xs: clamp(0.3125rem, 0.2837rem + 0.1282vw, 0.4375rem);
  /* Space 2xs: 9px → 14px */
  --space-2xs: clamp(0.5625rem, 0.4904rem + 0.3205vw, 0.875rem);
  /* Space xs: 14px → 21px */
  --space-xs: clamp(0.875rem, 0.774rem + 0.4487vw, 1.3125rem);
  /* Space s: 18px → 28px */
  --space-s: clamp(1.125rem, 0.9808rem + 0.641vw, 1.75rem);
  /* Space m: 27px → 42px */
  --space-m: clamp(1.6875rem, 1.4712rem + 0.9615vw, 2.625rem);
  /* Space l: 36px → 56px */
  --space-l: clamp(2.25rem, 1.9615rem + 1.2821vw, 3.5rem);
  /* Space xl: 54px → 84px */
  --space-xl: clamp(3.375rem, 2.9423rem + 1.9231vw, 5.25rem);
  /* Space 2xl: 72px → 112px */
  --space-2xl: clamp(4.5rem, 3.9231rem + 2.5641vw, 7rem);
  /* Space 3xl: 108px → 168px */
  --space-3xl: clamp(6.75rem, 5.8846rem + 3.8462vw, 10.5rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 5px → 14px */
  --space-3xs-2xs: clamp(0.3125rem, 0.1827rem + 0.5769vw, 0.875rem);
  /* Space 2xs-xs: 9px → 21px */
  --space-2xs-xs: clamp(0.5625rem, 0.3894rem + 0.7692vw, 1.3125rem);
  /* Space xs-s: 14px → 28px */
  --space-xs-s: clamp(0.875rem, 0.6731rem + 0.8974vw, 1.75rem);
  /* Space s-m: 18px → 42px */
  --space-s-m: clamp(1.125rem, 0.7788rem + 1.5385vw, 2.625rem);
  /* Space m-l: 27px → 56px */
  --space-m-l: clamp(1.6875rem, 1.2692rem + 1.859vw, 3.5rem);
  /* Space l-xl: 36px → 84px */
  --space-l-xl: clamp(2.25rem, 1.5577rem + 3.0769vw, 5.25rem);
  /* Space xl-2xl: 54px → 112px */
  --space-xl-2xl: clamp(3.375rem, 2.5385rem + 3.7179vw, 7rem);
  /* Space 2xl-3xl: 72px → 168px */
  --space-2xl-3xl: clamp(4.5rem, 3.1154rem + 6.1538vw, 10.5rem);

  /* Custom pairs */
  /* Space s-l: 18px → 56px */
  --space-s-l: clamp(1.125rem, 0.5769rem + 2.4359vw, 3.5rem);
}

